<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofCap.mapper.AttendanceMapper">

	<select id="findByDate" resultType="AttendanceDto">
		SELECT *
		FROM attendance a
		JOIN user u
		WHERE a.user_id = u.id AND a.club_id = 1
		ORDER BY a.date,
		u.id;
	</select>

	<select id="findDate" resultType="String">
		SELECT DISTINCT DATE_FORMAT(
		date,'%Y-%m-%d') date
		FROM attendance WHERE club_id = 1
		ORDER BY date;
	</select>

	<select id="findBySem" resultType="AttendanceDto">
		SELECT a.*, s.sem_name,
		u.name
		FROM attendance a JOIN sem_date s
		ON a.date
		BETWEEN s.start_date
		AND s.ent_date JOIN user u ON a.user_id = u.id
		WHERE
		s.sem_name=#{sem_name} AND a.club_id=1 ORDER BY a.date, a.user_id</select>

</mapper>