<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofCap.mapper.BoardMapper">

	<select id="findById" resultType="BoardDto">
		SELECT * FROM Board WHERE id =
		#{id}
	</select>
	
	<select id="findOne" resultType="BoardDto">
		SELECT *
		FROM Board
		WHERE id =
		#{id}
	</select>
	
	 <!-- 
	   동연 mapper 
	 -->
	<select id="findBySem_m" resultType="BoardDto">   <!-- 학기별 회의록 리스트 조회 -->
		SELECT b.*
		FROM Board b RIGHT JOIN sem_date s
		ON b.date BETWEEN s.start_date AND s.end_date
		WHERE s.sem_name=#{sem_name} AND board_name_id = '4' AND club_id = '1'
		ORDER BY date DESC
	</select>
	
	<select id="findAll_n" resultType="BoardDto">  <!-- 동연  공지사항 전체 리스트 조회 -->
		SELECT *
		FROM Board
		WHERE
		board_name_id = '3' AND club_id = '1'
		ORDER BY date DESC
	</select>

	<select id="findAll_m" resultType="BoardDto">  <!-- 동연  회의록 전체 리스트 조회 -->
		SELECT *
		FROM Board
		WHERE
		board_name_id = '4' AND club_id = '1'
	</select>
	
	<!-- 
	각 동아리 mapper
	 -->
	<select id="findBySem_a" resultType="BoardDto">   <!-- 학기별 회의록 리스트 조회 -->
		SELECT b.*
		FROM Board b RIGHT JOIN sem_date s
		ON b.date
		BETWEEN s.start_date AND s.end_date
		WHERE s.sem_name = #{sem_name} AND
		b.board_name_id = '4' AND b.club_id = #{club_id}
		ORDER BY date DESC
	</select>
	
	<select id="findByClubId_n" resultType="BoardDto">  <!-- 각 동아리 공지사항 리스트 조회 -->
		SELECT *
		FROM Board
		WHERE club_id = #{id} AND board_name_id = '3'
		ORDER BY date DESC
	</select>
	
	<select id="findByClubId_p" resultType="BoardDto">  <!-- 각 동아리 홍보게시판 리스트 조회 -->
		SELECT b.*
		FROM Board b
		LEFT JOIN Club c ON b.club_id = c.id
		WHERE club_id = #{id} AND
		board_name_id = '1'
	</select>

	<select id="findAll_p" resultMap="resultMap_BoardDto">  <!-- 홍보게시판 전체 리스트 조회 -->
		SELECT b.*, c.club_name
		FROM
		Board b
		LEFT JOIN Club c ON b.club_id = c.id
		WHERE board_name_id = '1'
		ORDER BY
		date
		DESC
	</select>

	<select id="findAll_r" resultMap="resultMap_BoardDto">  <!-- 모집게시판 전체 리스트 조회 -->
		SELECT b.*, c.club_name
		FROM
		Board b
		LEFT JOIN Club c ON b.club_id = c.id
		WHERE board_name_id = '2'
		ORDER BY date DESC
	</select>


	<select id="listFive_p" resultType="BoardDto">
		SELECT *
		FROM board
		WHERE
		board_name_id = 1
		ORDER BY
		date
		DESC LIMIT 5;
	</select>

	<select id="listFive_r" resultType="BoardDto">
		SELECT *
		FROM board
		WHERE
		board_name_id = 2
		ORDER BY
		date
		DESC LIMIT 5;
	</select>

	<delete id="delete">    <!-- 게시글 삭제 -->
		DELETE FROM Board WHERE id = #{id}
	</delete>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">  <!-- 게시글 삽입 -->
		INSERT Board(board_name_id, title, content, date, club_id, start_date,
		end_date)
		VALUES (#{board_name_id}, #{title}, #{content}, date_format(now(), '%Y-%m-%d %h:%m:%s'), #{club_id}, #{start_date}, #{end_date})
	</insert>

	<update id="update" useGeneratedKeys="true" keyProperty="id">   <!-- 게시글 수정 -->
		UPDATE Board SET
		title = #{title},
		content = #{content},
		date = date_format(now(), '%Y-%m-%d %h:%m:%s'),
		start_date = #{start_date},
		end_date = #{end_date}
		WHERE id = #{id}
	</update>
	
	<resultMap id="resultMap_BoardDto" type="BoardDto">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="date" column="date" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<association property="club" javaType="ClubDto">
			<id property="id" column="id" />
			<result property="club_name" column="club_name" />
		</association>
	</resultMap>
</mapper>
