<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofCap.mapper.ClubMapper">

	<select id="findClub" resultType="String">
		SELECT club_name
		FROM club
		WHERE
		club_name!='동아리연합회'
		ORDER BY id;
	</select>

	<select id="findById" resultType="ClubDto">
		SELECT c.*
		FROM Club c
		WHERE c.id
		= #{id};
	</select>

	<select id="findAll" resultType="ClubDto">
		SELECT c.*
		FROM Club c
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		Club (club_name, club_type)
		VALUES (#{club_name}, #{club_type})
	</insert>

	<select id="findByName" resultType="ClubDto">
		SELECT *
		From Club
		WHERE
		club_name = #{name};
	</select>
	
	<select id="findAnswer" resultType="ApplyADto">
		SELECT a.*,q.* FROM apply_a a
		JOIN apply_q q on a.apply_q_id = q.id and a.club_id=#{club_id}
	</select>
	
	<select id="findQuestion" resultType="ApplyQDto">
		SELECT q.* ,a.* FROM apply_q q
		JOIN apply_a a on a.apply_q_id = q.id and q.club_id=#{club_id}
	</select>
	
	<delete id="delete">
		DELETE
		FROM Club
		WHERE club_name = #{name};
	</delete>

</mapper>