<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofCap.mapper.UserMapper">

	<select id="findByLoginId" resultType="UserDto">
		SELECT *
		FROM User
		WHERE login_id= #{login_id}
	</select>
	
	<select id="findAll" resultType="UserDto">
		SELECT *
		FROM User
	</select>
	
</mapper>