<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofCap.mapper.UserMapper">

	<select id="findByLoginId" resultType="UserDto">
		SELECT *
		FROM User
		WHERE
		login_id= #{login_id}
	</select>

	<select id="findOne" resultType="UserDto">
		SELECT * FROM USER WHERE id =
		#{id}
	</select>

	<select id="findAll" resultType="UserDto">
		SELECT * FROM User WHERE user_type="동아리관리자"
	</select>
	
	<select id="findByMember" resultType="UserDto">
		SELECT u.* FROM User u
		JOIN User_Club uC on uC.user_id=u.id and uC.club_id=#{club_id} and u.user_type='일반회원'
	</select>

	<select id="findByNotMember" resultType="ClubDto">
		
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		User (name, login_id, password, user_type)
		VALUES(#{name},#{login_id},#{password},"동아리관리자")
	</insert>

	<update id="update">
		UPDATE User SET
		password = #{user_type}
		WHERE id =
		#{id}
	</update>
	
	<update id="updateMypage">
		UPDATE User SET
			email = #{email},
			phone = #{phone},
			password = #{password}
		WHERE id=#{id}
	</update>
	
	<update id="updateRole">
		UPDATE User SET user_type =
		CASE
			WHEN user_type LIKE '동연' THEN '동연'
            WHEN user_type LIKE '동아리관리자' THEN '동아리관리자'
			WHEN user_type LIKE '비회원' THEN '일반회원'
			WHEN user_type LIKE '일반회원' THEN '비회원'
		END
		WHERE id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM User WHERE id = #{id}
	</delete>
</mapper>